/*--- VARIABLES ---*/
/*--- BASIC SETUP ---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, body {
  background: #fff;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1, h2 {
  font-family: 'Beth Ellen', cursive;
  text-align: center;
}

li {
  list-style: none;
}

/*--- HEADING ---*/
header {
  background-color: #EBFCFE;
  padding: 15px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px #F2F2F2;
          box-shadow: 0 3px 3px #F2F2F2;
  overflow: hidden;
}

header #head-img {
  width: auto;
  height: 50px;
}

header #nav-bar {
  text-decoration: none;
  text-transform: uppercase;
}

header #nav-bar li {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding-left: 30px;
  word-spacing: 4px;
  letter-spacing: 2px;
}

header #nav-bar a:link,
header #nav-bar a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #0E9EAE;
  border-bottom: 3px dotted #0E9EAE;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  padding-bottom: 4px;
}

header #nav-bar a:hover,
header #nav-bar a:active {
  border-bottom: 3px solid #0E9EAE;
}

header .bi {
  cursor: pointer;
  color: #0E9EAE;
  display: none;
}

header .icon-on {
  display: inline-block;
}

header .icon-off {
  display: none;
}

/*--- BODY CONTENT---*/
section {
  scroll-margin-top: 90px;
}

h1 {
  font-size: 75px;
  color: #0E9EAE;
  padding-top: 20px;
}

#slogan {
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
  color: #9B9B9B;
  word-spacing: 2px;
}

#features {
  background-color: #FEF5F5;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 20% 0 20%;
  padding: 30px;
  height: 600px;
}

#features #icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  height: 400px;
}

#features #icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 20px;
}

#features #icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#features .bi {
  color: #EF7072;
  display: block;
}

#features .features-title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #9B9B9B;
  line-height: 20px;
  padding-bottom: 10px;
}

#features .features-list {
  padding-bottom: 5px;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 15px;
  color: #EF7072;
}

#demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 20% 20px 20%;
  border: 10px solid #FEF5F5;
  border-radius: 30px;
  padding: 30px;
}

#demo #video {
  padding: 20px 30px;
}

#pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0 20px 0;
  padding: 30px 10% 80px 10%;
  background-color: #FEF5F5;
}

#pricing #price-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 20px;
}

#pricing #price-choice .price-column {
  width: 30%;
  border-radius: 30px;
  padding-bottom: 20px;
}

#pricing #price-choice .selling-price {
  background-color: #EF7072;
  color: #fff;
  padding: 15px 10%;
  line-height: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#pricing #price-choice h3 {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 25px;
  color: #FEF5F5;
}

#pricing #price-choice .price-value {
  font-size: 40px;
}

#pricing #price-choice .pack-features {
  color: #9B9B9B;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#pricing #price-choice .pack-features li {
  line-height: 20px;
  padding-bottom: 10px;
}

#pricing #price-choice .pack-details {
  background-color: #fff;
  padding: 20px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#pricing #price-choice .pack-details .btn:link,
#pricing #price-choice .pack-details .btn:visited {
  text-decoration: none;
  font-size: 20px;
  color: #0E9EAE;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 3px;
  text-align: center;
  border-radius: 30px;
  margin: 5px 10%;
  padding: 10px 0;
  font-weight: 700;
  -webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

#pricing #price-choice .pack-details .btn-full:link,
#pricing #price-choice .pack-details .btn-full:visited {
  background-color: #EBFCFE;
  border: 5px solid #EBFCFE;
}

#pricing #price-choice .pack-details .btn-ghost:link,
#pricing #price-choice .pack-details .btn-ghost:visited {
  border: 5px solid #EBFCFE;
}

#pricing #price-choice .pack-details .btn-full:hover,
#pricing #price-choice .pack-details .btn-full:active,
#pricing #price-choice .pack-details .btn-ghost:hover,
#pricing #price-choice .pack-details .btn-ghost:active {
  background-color: #FEF5F5;
  border: 5px solid #FEF5F5;
  color: #EF7072;
}

#pricing #price-choice .pack-details br {
  display: none;
}

#form {
  margin: 50px 0 80px 0;
}

#form #subscribe {
  font-size: 25px;
  color: #EF7072;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 10px 20%;
}

#form #subscribe #email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

#form #subscribe #email-input #email {
  height: 30px;
  width: 80%;
  border: 3px solid #EBFCFE;
  border-radius: 30px;
  color: #FEF5F5;
  padding: 10px;
  font-size: 15px;
  margin: 0 10px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

#form #subscribe #email-input #email:focus, #form #subscribe #email-input #email:hover {
  outline-color: #FEF5F5;
}

#form #subscribe #email-input #email::-webkit-input-placeholder {
  color: #0E9EAE;
}

#form #subscribe #email-input #email:-ms-input-placeholder {
  color: #0E9EAE;
}

#form #subscribe #email-input #email::-ms-input-placeholder {
  color: #0E9EAE;
}

#form #subscribe #email-input #email::placeholder {
  color: #0E9EAE;
}

#form #subscribe #email-input #submit {
  background-color: #EBFCFE;
  border: 3px solid #EBFCFE;
  color: #0E9EAE;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 30px;
  padding: 0 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin: 0 10px;
}

#form #subscribe #email-input #submit:hover, #form #subscribe #email-input #submit:active {
  cursor: pointer;
  background-color: #FEF5F5;
  border: 3px solid #FEF5F5;
  color: #EF7072;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  background-color: #F2F2F2;
}

#footer li {
  padding: 20px;
}

#footer li a:link, #footer li a:visited {
  text-decoration: none;
  font-size: 15px;
  color: #0E9EAE;
  letter-spacing: 2px;
}

#footer li a:hover, #footer li a:active {
  font-weight: 700;
}

h2 {
  font-size: 40px;
  color: #EF7072;
}
/*# sourceMappingURL=main.css.map */