
/*--- VARIABLES ---*/

$color: (
    primary: #0E9EAE,
    primary-light: #EBFCFE,
    secondary: #9B9B9B,
    secondary-light: #F2F2F2,
    accent: #FEF5F5,
    accent-dark: #EF7072,
    background: #fff
);

@function color($color-name) {
    @return map-get($color, $color-name);
}

$font-size: (
    xs: 15px,
    s: 25px,
    m: 40px,
    l: 60px,
    xl: 75px
);

@function font-size($font-size-pixel) {
    @return map-get($font-size, $font-size-pixel);
}

$font-weight: (
    light: 400,
    medium: 500,
    bold: 700
);

@function font-weight($font-weight-number) {
    @return map-get($font-weight, $font-weight-number);
}


/*--- BASIC SETUP ---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, body {
    background: color(background);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1, h2 {
    font-family: 'Beth Ellen', cursive;
    text-align: center;
}

li {
    list-style: none;
}

/*--- HEADING ---*/

header {
    background-color: color(primary-light);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 3px color(secondary-light);
    overflow: hidden;

    #head-img {
        width: auto;
        height: 50px;
    }

    #nav-bar {
        text-decoration: none;
        text-transform: uppercase;

        li {
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            padding-left: 30px;           
            word-spacing: 4px;
            letter-spacing: 2px;
        }
    }

    #nav-bar a:link, 
    #nav-bar a:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: #0E9EAE;
        border-bottom: 3px dotted #0E9EAE;
        transition: border-bottom 0.5s;
        padding-bottom: 4px;
    }

    #nav-bar a:hover,
    #nav-bar a:active {
        border-bottom: 3px solid #0E9EAE;
    }

    .bi {
        cursor: pointer;
        color: color(primary);
        display: none;
    }

    .icon-on { display: inline-block; }

    .icon-off { display: none; }
}

/*--- BODY CONTENT---*/


section {
    scroll-margin-top: 90px;
}

h1 {
    font-size: font-size(xl);
    color: #0E9EAE;
    padding-top: 20px;
}

#slogan {
    text-align: center;
    font-size: font-size(s);
    letter-spacing: 5px;
    color: color(secondary);
    word-spacing: 2px;
}

#features {
background-color: color(accent);
border-radius: 30px;
display: flex;
justify-content: center;
margin: 100px 20% 0 20%;
padding: 30px;
height: 600px;

    #icons {
        display: flex;
        margin-top: 20px;
        height: 400px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-right: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .bi {
        color: color(accent-dark);
        display: block;
    }

    .features-title {
        font-size: font-size(s);
        font-weight: font-weight(bold);
        letter-spacing: 3px;
        color: color(secondary);
        line-height: 20px;
        padding-bottom: 10px;
    }

    .features-list {
        padding-bottom: 5px;
        letter-spacing: 2px;
        line-height: 20px;
        font-size: font-size(xs);
        color: color(accent-dark);
    }
}

#demo {
    display: flex;
    justify-content: center;
    margin: 100px 20% 20px 20%;
    border: 10px solid color(accent);
    border-radius: 30px;
    padding: 30px;
    

    #video {
        padding: 20px 30px;
    }
    
}

#pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0 20px 0;
    padding: 30px 10% 80px 10%;
    background-color: color(accent);


    #price-choice {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 20px;

        .price-column {
            width: 30%;
            border-radius: 30px;
            padding-bottom: 20px;
        }

        .selling-price {
            background-color: color(accent-dark);
            color: #fff;
            padding: 15px 10%;
            line-height: 40px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }

        h3 {
            letter-spacing: 2px;
            word-spacing: 2px;
            font-size: font-size(s);
            color: color(accent);
        }

        .price-value {
            font-size: font-size(m);
        }

        .price-quantity {
            font-size: font-size(ex);
        }

        .pack-features {
            color: color(secondary);
            line-height: 30px;
            margin-bottom: 20px;
            letter-spacing: 1px;

            li {
                line-height: 20px;
                padding-bottom: 10px;
            }
        }

        .pack-details {
            background-color: #fff;
            padding: 20px 10%;
            display: flex;
            flex-direction: column;
            height: 65%;
            justify-content: space-between;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            .btn:link, 
            .btn:visited {
                text-decoration: none;
                font-size: font-size(s) - 5px;
                color: color(primary);
                text-transform: uppercase;
                letter-spacing: 3px;
                word-spacing: 3px;
                text-align: center;
                border-radius: 30px;
                margin: 5px 10%;
                padding: 10px 0;
                font-weight: font-weight(bold);
                transition: background-color 0.5s, border 0.5s, color 0.5s;
            }

            .btn-full:link, 
            .btn-full:visited {
                background-color: color(primary-light);
                border: 5px solid color(primary-light);
            }

            .btn-ghost:link, 
            .btn-ghost:visited {
                border: 5px solid color(primary-light);
            }

            .btn-full:hover, 
            .btn-full:active, 
            .btn-ghost:hover, 
            .btn-ghost:active {
                background-color: color(accent);
                border: 5px solid color(accent);
                color: color(accent-dark);
            }

            br { display: none; }
        }
    }
}

#form {
    margin: 50px 0 80px 0;

    #subscribe {
        font-size: font-size(s);
        color: color(accent-dark);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px 20%;

        #email-input {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
        
            #email {
                height: 30px;
                width: 80%;
                border: 3px solid color(primary-light);
                border-radius: 30px;
                color: color(accent);
                padding: 10px;
                font-size: font-size(xs);
                margin: 0 10px;
                letter-spacing: 2px;
                word-spacing: 3px;
            }
            
            #email:focus, #email:hover {
                outline-color: color(accent);
            }

            #email::placeholder {
                color: color(primary);
            }

            #submit {
                background-color: color(primary-light);
                border: 3px solid color(primary-light);
                color: color(primary);
                text-transform: uppercase;
                font-size: font-size(xs);
                border-radius: 30px;
                padding: 0 20px;
                letter-spacing: 2px;
                word-spacing: 3px;
                margin: 0 10px;
            }

            #submit:hover, #submit:active {
                cursor: pointer;
                background-color: color(accent);
                border: 3px solid color(accent);
                color: color(accent-dark);
            }
        }
    }

}


#footer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: color(secondary-light);
    
    li {
        padding: 20px;

        a:link, a:visited {
            text-decoration: none;
            font-size: font-size(xs);
            color: color(primary);
            letter-spacing: 2px;
        }

        a:hover, a:active {
            font-weight: font-weight(bold);
        }
    }
}

h2 {
    font-size: font-size(m);
    color: color(accent-dark);
}