
/*--- VARIABLES ---*/

$color: (
    primary: #0E9EAE,
    primary-light: #EBFCFE,
    secondary: #9B9B9B,
    secondary-light: #F2F2F2,
    accent: #FEF5F5,
    accent-dark: #EF7072,
    background: #fff
);

@function color($color-name) {
    @return map-get($color, $color-name);
}

$font-size: (
    xs: 15px,
    s: 25px,
    m: 40px,
    l: 60px,
    xl: 75px
);

@function font-size($font-size-pixel) {
    @return map-get($font-size, $font-size-pixel);
}

$font-weight: (
    light: 400,
    medium: 500,
    bold: 700
);

@function font-weight($font-weight-number) {
    @return map-get($font-weight, $font-weight-number);
}


/* Small tablets to big tablets: 768 - 1023 px (landscape view: 1024px) */
@media only screen and (max-width: 1023px) {


    #features, #demo { margin: 100px 10% 0 10%; }

    #pricing { 
        
        padding: 30px 10% 80px 10%; 
    
        #price-choice { 
            align-items: center;
            flex-direction: column; 

            .price-column { 
                padding-bottom: 40px;
                width: 100%;
                display: flex;
            }

            .selling-price {
                width: 35%;
                padding: 15px 5%;
                border-top-left-radius: 30px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 30px;
            }

            .pack-details {
                padding: 20px 5%;
                height: auto;
                width: 65%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 30px;
                border-top-right-radius: 30px;

                .pack-features {
                    margin-bottom: 0;
                }

                .btn:link, 
                .btn:visited {    
                    height: 70%;
                    width: 30%;
                    margin: 5px 0;
                    padding: 5px 0;
                }

                br { display: inline-block; }
            }
        }
    }

    #form {
        #subscribe { 
            margin: 10px 10%; 
            
            #email-input {
                margin-top: 30px;
            }
        }
    }

}

/* Small phones to small tablets: 481 - 767 px (width of ipad: 768px) */
@media only screen and (max-width: 767px) {
    

    header {

        padding: 10px 5%;

        #head-img {
            width: auto;
            height: 30px;
        }
        
        nav { display: none; }

        #nav-bar {
            li {
                display: block;
                padding-bottom: 10px;
                text-align: right;
            }
        }
        
        .bi-list {
            display: inline-block;
        }
    }

    h1 {
        font-size: font-size(l);
        padding-top: 0;
    }

    #slogan {
        font-size: font-size(xs);
        letter-spacing: 2px;
        word-spacing: 1px;
    }

    #features, #demo { margin: 60px 5%; }

    #features {
        .features-title { padding-bottom: 15px;}

        .features-list {
            padding-bottom: 10px;
            letter-spacing: 1px;
        }
    }

    #pricing { 
        margin: 60px 0;
        padding: 10px 5% 80px 5%;

        #price-choice { 

            .selling-price {
                width: 45%;
                padding: 15px 5%;
                line-height: 40px;
            }

            h3 {
                letter-spacing: 2px;
                word-spacing: 2px;
                font-size: font-size(xs);
                color: color(accent);
            }
    
            .price-value {
                font-size: font-size(m);
            }
    
            .price-quantity {
                font-size: font-size(xs);
            }

            .pack-details {
                padding: 20px 5%;
                height: auto;
                width: 65%;
                flex-direction: column;
                align-items: flex-start;

                .pack-features {
                    margin-bottom: 0;
                }

                .btn:link, 
                .btn:visited {    
                    height: 70%;
                    width: 70%;
                    margin: 5px 0;
                    padding: 5px 0;
                    align-self: center;
                }

                br { display: none; }
            }
        }
    }

    #form {
        #subscribe {                                      
            #email-input {
                flex-direction: column;
                align-items: center;

                #email {
                    width: 100%;
                    margin-bottom: 15px;
                }

                #submit {
                    width: 50%;
                }
            }
        }
    }
}


/* Small phones: 0 - 480 px */
@media only screen and (max-width: 480px) {

}